{
  "version": 1,
  "paper": {
    "app_key": "YOUR_PAPER_APP_KEY",
    "app_secret": "YOUR_PAPER_APP_SECRET",
    "account": "YOUR_PAPER_ACCOUNT_OPTIONAL"
  },
  "live": {
    "app_key": "YOUR_LIVE_APP_KEY",
    "app_secret": "YOUR_LIVE_APP_SECRET",
    "account": "YOUR_LIVE_ACCOUNT"
  }
}
